.App {
  background-color: #577C8A;
  padding-bottom: 50px;
}

h1{
  text-align: left;
  margin-left: 150px;
  padding-top: 30px;
  color: white;
}

p{
  margin-bottom: 0px;
  color: white;
}

/* article card */
img {
  display: block;
  width: auto;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container {
   background-color: rgba(252, 252, 252,0.3);
   margin-left: auto;
   margin-right: auto;
   border-radius: 20px;
}

.articleTitle{
  font-size: 22px;
  font-weight: bold;
}

.articleDate{
  font-size: 13px;
  padding: 3px;
  margin-bottom: 5px;
}

.articleCard{
  padding: 10px;
}

.cardBody{
  text-align: left;
}

.btn-link{
  color:#0B346E;
  padding: 0px;
  margin-top: 10px;
}


/* article page */
.article{
  color: white;
}

a{
  color:#0B346E;
}

.header{
  padding-bottom: 40px;
  position:relative;
  max-height: 300px; 
  overflow: hidden;
  text-indent: 40px;
  /* background-image: url('https://cdn.wallpapersafari.com/58/32/TDUZc6.jpg'); */
}

.headerimage{
  width: 100%;
  height:auto;
  padding: 0px;
}

.title{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 35px;
  text-align: center;
  /* padding-top:20px;
  max-width: 700px; 
  margin: 0 auto !important; 
	float: none !important; */
}

.back{
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.date{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding:0 0 20px 0;
  /* max-width: 700px; 
  margin: 0 auto !important; 
	float: none !important; */
}

.blurb{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  /* max-width: 700px; 
  margin: 0 auto !important; 
	float: none !important; */
}

.text{
  max-width: 700px; 
  margin: 0 auto !important; 
	float: none !important;
  padding-top:15px;
  padding-bottom:15px;
}
